@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-calendar-size .react-datepicker__month {
  font-size: 1.05rem;
}

.custom-calendar-size .react-datepicker__day {
  width: 2.5rem;
  height: 2.5rem;
  line-height: 2.5rem;
}

.custom-calendar-size .react-datepicker__month-year-select {
  font-size: 1.25rem;
}

:root {
  --btnBackground: black;
  --btnBackgroundhover: rgb(32, 31, 31);
  --pending: #feefcb;
  --completed: #e9f0e9;
  --inprogress: #ffecee;
}

body {
  font-family: 'Roboto', sans-serif;
}

.scrollbar-hide::-webkit-scrollbar {
  width: 6px;
  height: 5px;
}

.scrollbar-hide::-webkit-scrollbar-thumb {
  background-color: rgb(54,171,135);
  border-radius: 4px;
}

.scrollbar-hide::-webkit-scrollbar-track {
  background-color: rgb(215,254,200);
  border-radius: 4px;
}

input[type="range"] {
  -webkit-appearance: none;
  width: 100%;
  height: 8px;
  background: linear-gradient(to right, #1e3a8a 0%, #1e3a8a 0%, #e5e7eb 0%);
  border-radius: 5px;
  outline: none;
  transition: background 0.3s;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  background: white;
  border: 5px solid gray;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
}

input[type="range"]::-moz-range-thumb {
  width: 20px;
  height: 20px;
  background: white;
  border: 4px solid gray;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
}

@font-face {
  font-family: "Plus Jakarta Sans";
  src: url("./assets/fonts/PlusJakartaSans-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Plus Jakarta Sans";
  src: url("./assets/fonts/PlusJakartaSans-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Plus Jakarta Sans";
  src: url("./assets/fonts/PlusJakartaSans-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Plus Jakarta Sans";
  src: url("./assets/fonts/PlusJakartaSans-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Plus Jakarta Sans";
  src: url("./assets/fonts/PlusJakartaSans-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
